.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header{
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgb(54, 54, 218);
}
.Profile{
  margin: 3%;
  float:left;
  text-align: left;
  display: block;
  width: 20%;
}
.ProfileIMG{
  width:100%;
  height:auto;
  border-radius: 50%;
  border: 3px solid grey;
}
.Repo{
  border:1px solid blue;
  margin:2%;
}
.Repos{
  width: 74%;
  float: right;
}
.Slider{
  float:right;
  margin: 0% 3%;
}
.SliderButtonCurrent{
  border: 2px solid blue;
}
.usernameInput{
  border-radius: 5px;
  padding:8px 30px;
  margin: 1%;
  float: left;
}
.githubIMG{
  margin: 5px;
  width:50px;
  display:block;
  float: left;
  margin-left:40%;
  margin-right: 0px;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}