.App {
  text-align: center;
  font-size: 1.5vw;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header{
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgb(54, 54, 218);
}
.Profile{
  margin: 3%;
  float:left;
  text-align: left;
  display: block;
  width: 20%;
}
.ProfileIMG{
  width:100%;
  height:auto;
  border-radius: 50%;
  border: 3px solid grey;
}
.Repo{
  border:1px solid blue;
  margin:2%;
  text-align: left;
  padding-left: 20px;
  background-color:aliceblue;
}
.Repos{
  width: 74%;
  float: right;
}
.Slider{
  float:right;
  margin: 0% 3%;
}
.SliderButton{
  background-color: transparent;
  border-radius: 5px;
}
.SliderButton:hover{
  background-color: grey;
}
.SliderButtonCurrent{
  border: 2px solid blue;
}
.SliderButtonArrow{
  border-radius: 10px;
  background-color: whitesmoke;
}
.usernameInput{
  border-radius: 5px;
  padding:8px 26px;
  margin: 12px 10px;
  float: left;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/Blue_magnifying_glass_icon.svg/98px-Blue_magnifying_glass_icon.svg.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 12%;
}
.githubIMG{
  margin: 5px;
  height:50px;
  display:block;
  float: left;
  margin-left:10%;
  margin-right: 0px;
}
.loader {
  border: 16px solid rgb(103, 103, 236); /* Light grey */
  border-top: 16px solid rgb(27, 109, 112); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 3s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  30% { transform: rotate(-120deg); }
  100% { transform: rotate(360deg); }
}